.logoK { 
    width: 4em;
}
nav {
    background-color: #fff;
}
header{
    border-bottom: 1px solid #d6d6d6;
}
body{
    background-color: #ffff;
    font-family: Arial, Helvetica, sans-serifs;
}
p, ul, a, img, body, footer, h1 {
    padding: 0;
    margin: 0 auto;
}
#gridLogoNav {
    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: 2em;
    padding-bottom: 2em;
}
ul {
    margin-top: .75em;
    list-style-type: none;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.naviga a:hover{
    color: #945b4c;
}
.naviga a:active{
    color: #945b4c;
}
/*HOME PAGE*/
#title{
    font-size: 3em;
    font-weight: bold;
    margin: 1em;
}
/* FOOTER */
footer {
    background-color: rgb(12, 12, 12);
    color: #fff;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
}
